services:
  web:
    build: .
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - db

  db:
    image: postgres:15
    ports:
    - "5432:5432"
    environment:
      POSTGRES_DB: socialb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
  

